{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur le site communautaire SnowTricks
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 1080px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}

		.homePageTitle {
			margin-top: 30vh;
			margin-bottom: 50vh;
			text-align: center;
		}
	</style>
<span
	class="position-absolute end-0 pe-5">
	<a
		href="#tricks">
		<i
			class="fas fa-2x fa-arrow-down"></i>
	</a>
</span>

	<div
		class="container-xxl">
		<h1
			class="homePageTitle fw-bold">
			{{titre}}
			,
			<span
				class="d-block fs-6 fst-italic fs-light">
				{{slogan}}
			</span>
		</h1>


		{% if tricks is empty %}
			<div
				class="alert alert-dismissible alert-warning">
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"></button>
				<h4
					class="alert-heading">
					Attention !
				</h4>
				<p
					class="mb-0">
					Pas de figure renseigné,
					<a
						href="#"
						class="alert-link">
						voulez vous ajouter une figure ?
					</a>
				</p>
			</div>
		{% else %}

			{{ render(path('trick_page_with_limit'), {page:1,limit: 10}) }}
			<span
				class="w-100  d-flex justify-content-center">
				<a
					href="{{ path('trick_page_with_limit', {'page': page +1, 'limit': limit}) }}" class="btn btn-primary w-70"
					id="loadmore">
					<i
						class="fas fa-spinner"></i>
					Afficher plus de tricks
				</a>
			</span>
			<script
				src="https://unpkg.com/axios/dist/axios.min.js"></script>
			<script
				type="text/javascript">
				document.addEventListener("DOMContentLoaded", () => {
					loadmoreButton = document.getElementById("loadmore");
					updateLink(loadmoreButton);
				// console.log(loadmoreButton);

				// When click on "Load more" button, load next page items in ajax just before the button
					loadmoreButton.addEventListener("click", function (event) {
						event.preventDefault();
						const el = this;
						axios.get(el.getAttribute('href')).then(function (response) {
							console.log(response)
							el.parentElement.insertAdjacentHTML('beforebegin', response.data);
							updateLink(el);
						});
				});

// Check the html content of the previous element and update or remove load more button
				function updateLink(el) {
					let parent = el.parentElement;
					console.log(parent)
					let link = parent.previousElementSibling.innerHTML;
					if (link) {
						el.setAttribute('href', link);
					} else {
						parent.remove();
					}
				}
});
			</script>


		{% endif %}
	</div>
<span
	class="position-absolute end-0 pe-5">
	<a
		href="#tricks">
		<i
			class="fas fa-2x fa-arrow-up"></i>
	</a>
</span>


{% endblock %}
