{% extends 'base.html.twig' %}

{% block title %}
	Créer une figure
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link
		href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
		rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script
	src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}
{% block body %}
    <h1>Create new Tricks</h1>

    {{ include('tricks/_form.html.twig') }}

    <a href="{{ path('app_tricks_index') }}">back to list</a>
{% endblock %}
